model:
    type: ViT
    img_size: 32
    patch_size: 4 #small patches -> more detail,better localizatoin, slower. #large patches, faster but loss of detail
    depth: 6 # same as CNN. more depth, more learning
    embed_dim: 128 # each patch gets this many numbers/features. So bigger numbers mean more expression of patches
    num_heads: 4 #ideally embed_dim%num_heads=0
    mlp_dim: 258 #usually more than input layer. best to 4x
    dropout: 0.1 #reduce overfitting

training:
    optimizer: AdamW #Optimizers: AdamW, Adam, SGD, Lion. AdamW is common
    scheduler: ReduceLROnPlateau #Schedulers: Cosine, Step, OneCycle, ReduceLROnPlateau. Cosine is standard
    learning_rate: 0.0003
    weight_decay: 0.0001 #regularization
    betas: 0.9,0.999 #momentum
    batch_size: 128
    epochs: 100

data:
    dataset: cifar10
    num_classes: 10
    #Data parameters
    #Augmentation
    #Examples: RandomCrop, RandomFlip,ColorJitter,RandAugment,MixUp,CutMix
    #Normalization: mean,std
    augmentations: auto_augment
    label_smoothing: 0.1  #instead of ground truth being 1.0 changes it to 0.9
    valid_size: 0.1

#Learnable parameters
#Patch embedding weights
#CLS token
#Positional Embeddings
#Query/Key/Value matrices
#Attention Output projection
#LayerNorm scale and bias
#MLP weights
#classification head
